* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 50px;
    color: white;
    text-shadow: 2px 2px gray;
    /* https://uigradients.com/#AquaMarine */
    background: -webkit-linear-gradient(to right, #1a2980, #26d0ce);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1a2980, #26d0ce);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav {
    background-color: #1a2980;
    padding: 10px 0;
    text-align: center;
}

nav a {
    padding: 10px 20px;
    margin: 0 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

main {
    padding: 20px;
    flex: 1;
}

footer {
    width: 100%;
    display: flex;
    padding: 20px;
    color: white;
    justify-content: center;
    align-items: center;
    /* https://uigradients.com/#Stellar */
    background: -webkit-linear-gradient(to right, #7474bf, #348ac7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7474bf, #348ac7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer a:link {
    color: white;
}

.footer-sloupec {
    margin: 0 10px;
}